  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
    {{.}}
    {{. | double | root | power}}
    {{. | root | power | double}}
</body> 
</html>