<!doctype html> 
<html lang='pt-br'> 
<head>
    <meta charset='UTF-8'> 
    <title> Hello World </title>

</head>
<body>
        {{$values := .}}
        {{range $value := $values}}
            <ul> 
               <h2> Nome do Empreendedor : {{$value.Name}} </h2>
               {{range $value2 := $value.Employers}}
               <li> Empregados := {{$value2}} </li>
               {{end}}
            </ul>
        {{end}}
    
</body>  
</html>